
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Arkanium.Controls
@using Arkanium.Controls.List
@using Arkanium.Model
@using Arkanium.Services

@page "/importantcommands"
@attribute [NavigationPage("Important Commands", icon: "terminal", sort: 3)]

@inject HttpClient Http
@inject IClipboardService Clipboard
@inject ILogger<Index> Log

<RadzenStack Gap="0.5rem">
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle1">
            Enter your admin password
        </RadzenText>
        <RadzenTextBox Placeholder="Admin password" @bind-Value=_adminPassword />
    </div>
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle1">
            Building mode On
        </RadzenText>
        <CopyTextBox Text="@("enablecheats " + _adminPassword + " | cheat fly | cheat infiniteweight | cheat infinitestats ")"/>
    </div>
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle1">
            Building mode Off
        </RadzenText>
        <CopyTextBox Text="@("enablecheats " + _adminPassword + " | cheat walk | cheat infiniteweight | cheat infinitestats ")"/>
    </div>
</RadzenStack>

@code
{ 
    private string _adminPassword = "Password";
}